@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:regular,500,600&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Space Grotesk", "Open Sans";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Space Grotesk", "Open Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 77.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.badge {
  padding: 2px 7px;
  background-color: #b9ff66;
  color: #000;
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  border-radius: 7px;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.hero {
  padding-top: clamp(0.625rem, -0.027rem + 3.26vw, 2.5rem);
  padding-bottom: clamp(3.75rem, 2.011rem + 8.7vw, 8.75rem);
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 70px;
  gap: 30px;
}

.hero__info-title {
  font-weight: 500;
  font-size: clamp(2.563rem, 2.149rem + 2.07vw, 3.75rem);
  max-width: 530px;
  line-height: clamp(3.438rem, 2.959rem + 2.39vw, 4.813rem);
  padding-bottom: clamp(0.625rem, 0.082rem + 2.72vw, 2.188rem);
}

.hero__info-subtitle {
  max-width: 500px;
  font-weight: 400;
  font-size: clamp(1rem, 0.913rem + 0.43vw, 1.25rem);
  line-height: clamp(1.5rem, 1.413rem + 0.43vw, 1.75rem);
  padding-bottom: 35px;
}

.hero__info-button {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  background-color: #191a23;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.hero__img {
  width: clamp(27.813rem, -6.991rem + 57.41vw, 37.5rem);
}

.hero__sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 37px;
  overflow-x: auto;
}

.hero__sponsors-img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.services {
  padding-bottom: clamp(3.125rem, 2.038rem + 5.43vw, 6.25rem);
}

.services__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(1.563rem, 1.236rem + 1.63vw, 2.5rem);
  padding-bottom: clamp(2.188rem, 1.209rem + 4.89vw, 5rem);
}

.services__top-title {
  font-weight: 500;
  font-size: 40px;
}

.services__top-subtitle {
  max-width: 580px;
  font-size: clamp(0.938rem, 0.872rem + 0.33vw, 1.125rem);
}

.services__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__card {
  position: relative;
  padding: clamp(2.188rem, 1.861rem + 1.63vw, 3.125rem);
  border: 1px solid #191a23;
  border-radius: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  width: 100%;
  background-color: #f3f3f3;
  max-width: clamp(36.25rem, -2.188rem + 50vw, 37.5rem);
  -webkit-box-shadow: 0 5px 0 0 #191a23;
          box-shadow: 0 5px 0 0 #191a23;
}

.services__card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 90px;
}

.services__card-title {
  max-width: clamp(13.438rem, 13.003rem + 2.17vw, 14.688rem);
  padding: 0 7px;
}

.services__card-title span {
  font-weight: 500;
  font-size: clamp(1.5rem, 1.37rem + 0.65vw, 1.875rem);
}

.services__card-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  position: relative;
}

.services__card-button svg {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.services__card-button::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  bottom: 0;
  left: 57px;
  background-color: #191a23;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.services__card-img {
  max-width: 210px;
  -o-object-fit: contain;
     object-fit: contain;
}

.accent-card {
  background-color: #b9ff66;
}

.accent-card span {
  background-color: #191a23;
  color: #fff;
}

.dark-card {
  background-color: #191a23;
}

.dark-card .services__card-button {
  color: #fff;
}

.dark-card .services__card-button::before {
  background-color: #fff;
}

.dark-card span {
  background-color: #fff;
}

.dark-card svg circle {
  fill: #fff;
}

.dark-card svg path {
  fill: #191a23;
}

.banner__wrapper {
  padding: clamp(1.875rem, 1.223rem + 3.26vw, 3.75rem);
  background-color: #f3f3f3;
  border-radius: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.banner__info-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  padding-bottom: 25px;
}

.banner__info-subtitle {
  max-width: 500px;
  padding-bottom: 25px;
  font-size: clamp(1rem, 0.957rem + 0.22vw, 1.125rem);
}

.banner__info-button {
  font-size: 20px;
  line-height: 140%;
  color: #fff;
  background-color: #191a23;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.banner__img {
  position: absolute;
  right: 135px;
  top: -20px;
  max-width: 495px;
  max-height: 394px;
  -o-object-fit: cover;
     object-fit: cover;
}

.case {
  padding-top: clamp(3.75rem, 1.793rem + 9.78vw, 9.375rem);
}

.case__container {
  z-index: 1 !important;
}

.case__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(1.563rem, 1.236rem + 1.63vw, 2.5rem);
  padding-bottom: clamp(2.188rem, 1.209rem + 4.89vw, 5rem);
}

.case__top-title {
  font-weight: 500;
  font-size: 40px;
}

.case__top-subtitle {
  max-width: 580px;
  font-size: clamp(0.938rem, 0.872rem + 0.33vw, 1.125rem);
}

.case__slider {
  background-color: #191a23;
  padding: 70px 60px;
  border-radius: 45px;
}

.case__wrapper {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  gap: 128px;
  position: relative;
}

.case__wrapper::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  background-color: #fff;
  right: clamp(20.625rem, -21.803rem + 57.97vw, 23.125rem);
}

.case__wrapper::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  background-color: #fff;
  left: clamp(19.688rem, -6.83rem + 36.23vw, 21.25rem);
}

.case__slide {
  background-color: #191a23;
  border-radius: 45px;
}

.case__slide-text {
  color: #fff;
  font-size: clamp(1rem, 0.957rem + 0.22vw, 1.125rem);
  font-weight: 400;
  line-height: 23px;
  padding-bottom: 20px;
}

.case__slide-button {
  color: #b9ff66;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  position: relative;
}

.case__slide-button::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  height: 2px;
  background-color: #b9ff66;
  width: 0px;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.case__slide-button svg {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header {
  padding: 30px 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.header__logo-img {
  width: clamp(8.75rem, 7.228rem + 7.61vw, 13.125rem);
}

.menu__body {
  color: #000;
  font-weight: 400;
  font-size: clamp(1rem, 0.913rem + 0.43vw, 1.25rem);
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}

.menu__link {
  position: relative;
}

.menu__link::after {
  position: absolute;
  left: 0;
  bottom: -5px;
  content: "";
  width: 0;
  height: 2px;
  background-color: #000;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.menu__button {
  border-color: #191a23;
  -webkit-transition: color 0.2s ease, background-color 0.3s ease;
  transition: color 0.2s ease, background-color 0.3s ease;
}

.button {
  text-align: center;
  padding: 20px 35px;
  border: 1px solid;
  border-radius: 14px;
  display: inline-block;
}

.icon-menu {
  display: none;
}

.menu-open .menu__body {
  left: 0;
  -webkit-transition: left 0.6s ease;
  transition: left 0.6s ease;
}

.footer {
  margin-top: 140px;
}

.footer__wrapper {
  color: #fff;
  background-color: #191a23;
  border-radius: 45px 45px 0 0;
  padding: clamp(2.813rem, 2.595rem + 1.09vw, 3.438rem) clamp(0.938rem, -0.041rem + 4.89vw, 3.75rem) clamp(1.563rem, 1.019rem + 2.72vw, 3.125rem) clamp(0.938rem, -0.041rem + 4.89vw, 3.75rem);
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
  gap: 30px;
}

.footer__info-badge {
  margin-bottom: 10px;
}

.footer__list {
  max-width: 350px;
  white-space: pre-line;
}

.footer__list-item {
  font-weight: 400;
  font-size: clamp(1rem, 0.957rem + 0.22vw, 1.125rem);
  padding: 3px 0;
}

.footer__form {
  background-color: #292a32;
  padding: clamp(1.563rem, 0.845rem + 3.59vw, 3.625rem) clamp(0.938rem, 0.394rem + 2.72vw, 2.5rem);
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 20px;
}

.footer__form-field {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 14px;
  padding: 22px clamp(0.938rem, 0.503rem + 2.17vw, 2.188rem);
}

.footer__form-button {
  color: #000;
  background-color: #b9ff66;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
}

.footer__bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.footer__bottom::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 60px;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 66px;
}

.menu-footer__logo-img {
  width: clamp(8.75rem, 7.88rem + 4.35vw, 11.25rem);
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.menu-footer__link {
  position: relative;
}

.menu-footer__link::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.menu-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 1230px) {
  .services__card {
    max-width: none;
  }
}

@media (max-width: 1180px) {
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 1170px) {
  .case__slider {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    width: 105%;
  }

  .case__wrapper {
    display: block;
    gap: 0;
  }

  .case__wrapper::before {
    height: 0;
    width: 0;
  }

  .case__wrapper::after {
    height: 0;
    width: 0;
  }

  .case__slide {
    padding: 40px;
  }
}

@media (max-width: 1100px) {
  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 4;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.6s ease;
    transition: left 0.6s ease;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
    border-radius: 2px;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 1090px) {
  .banner__img {
    right: 50px;
  }
}

@media (max-width: 1000px) {
  .footer__bottom {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__bottom::after {
    bottom: 130px;
  }
}

@media (max-width: 990px) {
  .banner__info {
    margin: 0 auto;
    text-align: center;
  }

  .banner__img {
    display: none;
  }
}

@media (max-width: 970px) {
  .hero__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .hero__info-title {
    max-width: 598px;
  }

  .hero__info-subtitle {
    max-width: 598px;
  }

  .hero__info-button {
    width: 100%;
  }

  .hero__img {
    width: 100%;
    padding-bottom: 10px;
  }
}

@media (max-width: 920px) {
  .case__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .case__top-subtitle {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .footer {
    background-color: #191a23;
  }

  .footer__wrapper {
    padding: 35px 0;
  }

  .menu-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 37px;
  }

  .menu-footer__logo {
    padding-bottom: 37px;
  }

  .menu-footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }

  .menu-footer__link::before {
    content: none;
  }
}

@media (max-width: 780px) {
  .services__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services__top-subtitle {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .footer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 560px) {
  .services__card-info {
    gap: 110px;
  }

  .services__card-button {
    font-size: 0;
  }

  .services__card-img {
    position: absolute;
    bottom: 35px;
    right: 35px;
    max-height: 130px;
    max-width: 150px;
  }
}

@media (max-width: 550px) {
  .footer__form {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .banner__info {
    text-align: left;
  }

  .banner__info-button {
    width: 100%;
    padding: 20px 15px !important;
  }

  .banner__info-button span {
    display: none;
  }
}

@media (hover: hover) {
  .hero__info-button:hover {
    color: #000;
    background-color: transparent;
  }

  .services__card-button:hover svg {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
  }

  .services__card-button:hover::before {
    width: 105px;
  }

  .banner__info-button:hover {
    background-color: transparent;
    border-color: #191a23;
    color: #000;
  }

  .case__slide-button:hover::before {
    width: 107px;
  }

  .case__slide-button:hover svg {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
  }

  .menu__link:hover::after {
    width: 100%;
  }

  .menu__button:hover {
    background-color: #191a23;
    color: #fff;
  }

  .menu-footer__link:hover {
    color: #b9ff66;
  }

  .menu-footer__link:hover::before {
    background-color: #b9ff66;
  }
}